<!DOCTYPE html>
<html>
<head>
  <title>Admin Events</title>
  <%- include('header'); %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/timepicker@1.12.0/jquery.timepicker.min.css">
  <script src="//cdn.jsdelivr.net/npm/timepicker@1.12.0/jquery.timepicker.min.js"></script>
</head>
<body>
  <%- include('top-navigation'); %>
  <div id="app">
    <!-- Admin Tabs -->
    <div class="link-tab uk-margin-left uk-padding-small uk-margin-right">
      <h4>
        <a href="/admin-database" class="uk-padding-small">Alumni</a>&nbsp;&nbsp;&nbsp;
        <a href="/admin-group" class="uk-padding-small">Groups</a>&nbsp;&nbsp;&nbsp;
        <a href="/admin-activities" class="uk-padding-small">Activities</a>&nbsp;&nbsp;&nbsp;
        <a href="/admin-event" class="tab-active uk-padding-small">Events</a>&nbsp;&nbsp;&nbsp;
        <a href="/admin-news" class="uk-padding-small">News</a>&nbsp;&nbsp;&nbsp;
        <a href="/admin-security" class="uk-padding-small">Security</a>&nbsp;&nbsp;&nbsp;
        <a href="/admin-settings" class="uk-padding-small">Settings</a>
        <a href="/admin-membership" class="uk-padding-small">Memberships</a>
      </h4>
      <hr class="border-slate"></hr>
    </div>

    <!--------------------------->
    <!-- EVENT CALENDAR ADMIN -->
    <!--------------------------->
    <div class="uk-margin-small-top uk-margin-medium-bottom uk-margin-right uk-clearfix">
      <div class="uk-position-relative uk-float-right"><button class="uk-button uk-button-large button-lt" onclick="showCreateEventModal();">Add Event</button></div>
    </div>
    <div id='calendar' class="uk-padding-small link-dk"></div>
    <!-- FullCalendar API and Scripts -->
    <link href='fullcalendar/packages/core/main.css' rel='stylesheet' />
    <script src='fullcalendar/packages/core/main.js'></script>
    <script src='fullcalendar/packages/interaction/main.min.js'></script>
    <script src='fullcalendar/packages/moment/main.min.js'></script>
    <link href='fullcalendar/packages/list/main.css' rel='stylesheet' />
    <script src='fullcalendar/packages/list/main.js'></script>
    <script src='fullcalendar/packages/rrule/main.min.js'></script>
    <script src='fullcalendar/vendor/rrule.js'></script>
    <link href='fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <script src='fullcalendar/packages/daygrid/main.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid', 'moment', 'list', 'interaction', 'rrule' ],
      timeZone: 'local',
      defaultView: 'listMonth',
      defaultDate: new Date(),
      header: {
        left: 'title',
        right: 'listMonth,dayGridMonth,addEventButton',
      },
      footer: {
        center: 'prev,next today',
      },

      events: <%- JSON.stringify(events) %>,
      eventClick: function(info) {
          info.jsEvent.preventDefault();
          if (info.event.id) {
            window.location.href = '/event-details?event_id=' + info.event.id;
          }
        }
      });

      calendar.render();
      });
    </script>

    <!-- Add Event Modal -->
    <div id="eventContent" uk-modal>
      <div id="create-event-modal" class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header fog">
            <h2 class="uk-modal-title">Create an Event</h2>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
          <label class="uk-form-label" for="form-stacked-text">Event Title</label><br>
          <input type="text" id="form-stacked-text" class="uk-input" v-model="newEventTitle">
          <div class="uk-margin"></div>
          <label class="uk-form-label" for="form-stacked-text">Event Description</label><br>
          <textarea class="uk-textarea" rows="4" v-model="newEventDescription"></textarea>
          <div class="uk-margin"></div>
          <label class="uk-form-label" for="form-stacked-text" Required>*Location</label><br>
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon uk-form-icon" uk-icon="icon: location"></span>
            <input type="text" id="form-stacked-text" class="uk-input" v-model="newEventLocation">
          </div>
          <div class="uk-grid-small uk-child-width-expand uk-margin-medium" uk-grid>
            <div>
              <label class="uk-form-label" for="form-stacked-text">Start Date</label><br>
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
                <input id="event-start-date" type="text" class="uk-input" placeholder="mm/dd/yyyy">
              </div>
            </div>
            <div>
              <label class="uk-form-label" for="form-stacked-text">Start Time</label><br>
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: clock"></span>
                <input id="event-start-time" type="string" class="uk-input timepicker" placeholder="HH:mm">
              </div>
            </div>
            <div>
              <br>
            </div>
          </div>
          <div class="uk-grid-small uk-child-width-expand uk-margin-medium" uk-grid>
            <div>
              <label class="uk-form-label" for="form-stacked-text">End Date</label><br>
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
                <input id="event-end-date" type="string" class="uk-input" placeholder="mm/dd/yyyy">
              </div>
            </div>
            <div>
              <label class="uk-form-label" for="form-stacked-text">End Time</label><br>
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: clock"></span>
                <input id="event-end-time" type="string" class="uk-input timepicker" placeholder="HH:mm">
              </div>
            </div>
            <div>
              <br>
              <div class="uk-form-controls">
              </div>
            </div>
          </div>
          <div>
            <label class="uk-form-label">
              <input id="allow-signups" type="checkbox" name="allow-signups" v-model="newEventAllowSignups" />Allow Signups
            </label>
          </div>
          <br />
          <div>
            <label class="uk-form-label" for="signup-fee">Registration fee:</label>
            <input class="uk-input" id="signup-fee" name="signup-fee" type="number" v-model="newEventFee">
          </div>
          <br />
        </div>

        <div class="uk-modal-footer fog uk-text-left">
          <button class="uk-button button-lt" type="button" v-on:click="createEvent">Save</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="uk-margin-large"></div>
  <%- include('footer'); %>

  <script type="text/javascript"> 
    var app = new Vue({
      el: '#app',
      data: {
        newEventTitle: '',
        newEventDescription: '',
        newEventLocation: '',
        newEventStartDate: null,
        newEventStartTime: null,
        newEventEndDate: null,
        newEventEndTime: null,
        newEventAllowSignups: true,
        newEventFee: 0.00
      },
      created: function() {
        var self = this;
        $(function() {
          $('#event-start-date').datepicker({
            onSelect: function(dateText, inst) {
              self.newEventStartDate = dateText;
            }
          });
          $('#event-start-time').timepicker();
          $('#event-start-time').on('changeTime', function() {
            self.newEventStartTime = $('#event-start-time').val();
          });
          $('#event-end-date').datepicker({
            onSelect: function(dateText, inst) {
              self.newEventEndDate = dateText;
            }
          });
          $('#event-end-time').timepicker();
          $('#event-end-time').on('changeTime', function() {
            self.newEventEndTime = $('#event-end-time').val();
          });
        });
      },
      methods: {
        createEvent: function() {
          var errMsg = '';

          if (!this.newEventTitle) errMsg += 'Event Title cannot be empty\n';
          if (!this.newEventDescription) errMsg += 'Event Description cannot be empty\n';
          if (!this.newEventLocation) errMsg += 'Event Location cannot be empty\n';
          if (!this.newEventStartDate) errMsg += 'Event must have a start date\n';
          if (!this.newEventStartTime) errMsg += 'Event must have a start time\n';
          if (!this.newEventEndDate) errMsg += 'Event must have an end date\n';
          if (!this.newEventEndTime) errMsg += 'Event must have an end time\n';

          if (moment(this.newEventStartDate + ' ' + this.newEventStartTime, 'MM/DD/YYYY HH:mmA').toDate().getTime() > moment(this.newEventEndDate + ' ' + this.newEventEndTime, 'MM/DD/YYYY HH:mmA').toDate().getTime()) 
            errMsg += 'End time must be after start time';

          if (errMsg) alert(errMsg);
          else {
            var tz = moment.tz.guess();
            axios.post('/api/event', {
              title: this.newEventTitle,
              description: this.newEventDescription,
              location: this.newEventLocation,
              start: moment(this.newEventStartDate + ' ' + this.newEventStartTime, 'MM/DD/YYYY HH:mmA').tz(tz).toDate(),
              end: moment(this.newEventEndDate + ' ' + this.newEventEndTime, 'MM/DD/YYYY HH:mmA').tz(tz).toDate(),
              signups: this.newEventAllowSignups,
              price: this.newEventFee
            })
              .then(function(data) {
                UIkit.modal('#eventContent').hide();
                alert('Successfully created event');
              })
              .catch(function(err) {
                alert('There was an error creating your event. Please try again');
              });
          }
        }
      }
    });
  </script>
  <script type="text/javascript">
    function showCreateEventModal() { UIkit.modal(eventContent).show(); }
  </script>
</body>
</html>
